@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-regular.woff2') format('woff2');
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 400;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-italic.woff2') format('woff2');
}
@font-face {
  font-display: swap;
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-500.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 500;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-500italic.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-600.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 600;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-600italic.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-700.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 700;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-700italic.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-800.woff2') format('woff2'); 
}
@font-face {
  font-display: swap; 
  font-family: 'Nunito Sans';
  font-style: italic;
  font-weight: 800;
  src: url('/fonts/nunito-sans-v15-latin_latin-ext-800italic.woff2') format('woff2'); 
}
