@import 'variables'
@import 'primetheme'


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,600;1,300;1,400&display=swap')
@import url('https://fonts.sandbox.google.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')


*
  box-sizing: border-box

html
  scroll-behavior: smooth
  color: $color-text
  background-color: $color-grey-01
  font-family: $font-family
  font-size: $font-size

// Scrollbars

::-webkit-scrollbar
  width: 20px
  height: 20px

::-webkit-scrollbar-track, ::-webkit-scrollbar-corner
  background-color: transparent

::-webkit-scrollbar-thumb
  background-color: $color-scrollbar-thumb
  border-radius: 20px
  border: 6px solid transparent
  background-clip: content-box

  &:hover
    background-color: $color-scrollbar-thumb-hover

// Icon font

.material-symbols-outlined
  color: $color-icon
  font-variation-settings: 'FILL' 0, 'wght' 100, 'GRAD' 200, 'opsz' 20

// Navigation

nav
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  background-color: $op-background-dark
  padding: 0

  &.primary
    background-color: $op-background-main
    padding: 0.5rem 1rem 


  a, button
    display: block
    padding: 10px 14px
    text-decoration: none
    transition: text-shadow 0.2s
    user-select: none !important
    color: #fff
    font-weight: 600
    font-size: 1.1rem
    -webkit-user-drag: none

    &:hover
      color: white
      text-shadow: 0 0 5px #aaa
      transition: text-shadow 0.2s

    &.active
      background-color: $op-background-main
      text-decoration: underline

    &:focus
      outline: none !important
      box-shadow: none !important
      
  .spacer
    flex: 1



#root
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-direction: column
  min-height: 0


  &>main
    flex-grow: 1
    display: flex
    flex-direction: row
    gap: 10px
    padding: 10px

    &.center
      align-items: center
      justify-content: center

    &.rows
      flex-direction: column

section
  position: relative
  display: flex
  align-items: center
  flex-direction: column
  gap: 5px
  padding: 12px
  border-radius: 5px
  background-color: $op-background-dark

  &>*
    width: 100%

  &.invisible
    background: transparent
    border: 0
    padding: 0

  &.row
    flex-direction: row
    &>*
      width: auto

  &.insplit
    position: absolute
    width: 100%
    height: 100%

.wrapper
  position: absolute
  top: 3px
  left: 0
  right: 0
  bottom: 0
  padding: 0
  margin: 0


.breadcrumbs
  list-style: none
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  margin: 0
  padding: 0

  &>li
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.4em

    &:not(:last-child)
      &::after
        content: ' / '
      
.breadcrumbs-copy-button
  margin-left: 8px
  .icon
    margin-top: 4px
    font-size: 1.4rem
  &:focus
    outline: none !important
    box-shadow: none !important    

.section-header
  font-size: 1.3em
  padding-left: 8px
  display: flex
  align-items: center
  height: 33px


input:-webkit-autofill, input:-webkit-autofill:focus
  transition: background-color 600000s 0s, color 600000s 0s

.embed
  border: 0
  background-color: white


h3, h4
  display: flex
  align-items: center
  margin: 0
  padding-bottom: 5px
  border-bottom: 1px solid $op-background-main

  &h3
    margin-bottom: 20px

  &h4
    margin-bottom: 10px


//
// Custom components
//

.oauth-icon
  color: $color-icon
  width: 3rem
  height: auto
  transition: color .4s ease
  :hover
    transition: color .4s ease
    color: lighten($color-icon, 5)

.attribute-table
  padding: 3px
  
  .attribute-table-row
    display: flex,
    flex-direction: row,
    justify-content: space-between,
    align-items: center,
    padding: 3px 0
    border-top: 1px solid $op-background-main

    &:first-child
      border-top: 0 !important

.thumbnail
  width: 100%,
  height: auto,
  &.placeholder
    aspect-ratio: 1.77
    display: flex
    justify-content: center
    align-items: center
    background-color: #161616
    span
      font-size: 4rem

.editor-field
  display: block
  border: 1px solid $color-grey-02
  padding: 4px
  margin: 2px
  border-radius: 3px
  height: 26px

  &.changed
    border: 1px solid #106aa2

  &.inherited
    color: $color-grey-06
    font-style: italic

.table-editor
  margin: 0 
  .p-inputwrapper
    width: 100%
    input
      width: 100%
      border: 1px solid $color-hl-00

.form-error-text
  color: #dd4124 
  font-style: italic

  
//
// Highlights
//

.row-hl-1
  color: #01cc34 !important
.row-hl-2
  color: #9b00ff !important
.row-hl-3
  color: #ffea02 !important
.row-hl-4
  color: #dc1d83 !important
.row-hl-5
  color: #fd9a04 !important
.row-hl-6
  color: #ff5e50 !important
.row-hl-7
  color: #009b77 !important
.row-hl-8
  color: #dd4124 !important
.row-hl-9
  color: #d65076 !important
.row-hl-10
  color: #efc050 !important
.row-hl-11
  color: #5b5ea6 !important
