@import 'variables'
@import 'primetheme'


@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,400;0,600;1,300;1,400&display=swap')

*
  box-sizing: border-box

html
  scroll-behavior: smooth
  background-color: $op-background-main
  color: $op-font-color
  font-size: $op-font-size
  font-family: 'Nunito Sans', sans-serif

::-webkit-scrollbar
  width: 20px
  height: 20px

::-webkit-scrollbar-track
  background-color: transparent

::-webkit-scrollbar-thumb
  background-color: $op-scrollbar-color
  border-radius: 20px
  border: 6px solid transparent
  background-clip: content-box

::-webkit-scrollbar-thumb:hover
  background-color: lighten($op-scrollbar-color, 5)

::-webkit-scrollbar-corner
  background: transparent


.color-primary
  color: $op-primary

.color-secondary
  color: $op-secondary

.color-ternary
  color: $op-ternary

nav
  display: flex
  flex-direction: row
  align-items: center
  justify-content: space-between
  background-color: $op-background-dark
  padding: 0

  &.primary
    background-color: $op-background-main
    padding: 0.5rem 0 
    padding-left: 0.5rem

  a, button
    display: block
    padding: 10px 14px
    text-decoration: none
    transition: text-shadow 0.2s
    user-select: none !important
    color: #fff
    font-weight: 600
    font-size: 1.1rem
    -webkit-user-drag: none

    &:hover
      color: white
      text-shadow: 0 0 5px #aaa
      transition: text-shadow 0.2s

    &.active
      background-color: $op-background-main
      text-decoration: underline

    &:focus
      outline: none !important
      box-shadow: none !important
      
  .spacer
    flex: 1



#root
  position: fixed
  top: 0
  left: 0
  right: 0
  bottom: 0
  display: flex
  flex-direction: column
  min-height: 0


  &>main
    flex-grow: 1
    display: flex
    flex-direction: row
    gap: 10px
    padding: 10px

    &.center
      align-items: center
      justify-content: center

    &.rows
      flex-direction: column

section
  position: relative
  display: flex
  align-items: center
  flex-direction: column
  gap: 5px
  padding: 12px
  border-radius: 5px
  background-color: $op-background-dark

  &>*
    width: 100%

  &.invisible
    background: transparent
    border: 0
    padding: 0

  &.row
    flex-direction: row
    &>*
      width: auto

  &.insplit
    position: absolute
    width: 100%
    height: 100%

.wrapper
  position: absolute
  top: 3px
  left: 0
  right: 0
  bottom: 0
  padding: 0
  margin: 0


.breadcrumbs
  list-style: none
  display: flex
  flex-direction: row
  align-items: center
  justify-content: flex-start
  margin: 0
  padding: 0

  &>li
    display: flex
    align-items: center
    justify-content: center
    font-size: 1.4em

    &:not(:last-child)
      &::after
        content: ' / '
      
.breadcrumbs-copy-button
  color: #aaa !important
  padding: 0
  border: 0 !important
  background: transparent !important
  &:focus
    outline: none !important
    box-shadow: none !important    
    margin: 0 10px

.section-header
  font-size: 1.3em
  padding-left: 8px
  
  &::first-letter
    text-transform: capitalize


input:-webkit-autofill, input:-webkit-autofill:focus
  transition: background-color 600000s 0s, color 600000s 0s

.embed
  border: 0
  background-color: white


h3, h4
  margin: 0

h3
  margin-bottom: 20px
h4
  margin-bottom: 10px

ul
  margin: 0



.row-hl-1
  border-left : 2px solid #ff6d70
.row-hl-2
  border-left : 2px solid #654ea3
.row-hl-3
  border-left : 2px solid #84BD00
.row-hl-4
  border-left : 2px solid #F2DDDE
.row-hl-5
  border-left : 2px solid #89ABE3
.row-hl-6
  border-left : 2px solid #AD655F
.row-hl-6
  border-left : 2px solid #B565A7
.row-hl-7
  border-left : 2px solid #009b77
.row-hl-8
  border-left : 2px solid #dd4124
.row-hl-9
  border-left : 2px solid #d65076
.row-hl-10
  border-left : 2px solid #45b8ac
.row-hl-11
  border-left : 2px solid #efc050
.row-hl-12
  border-left : 2px solid #5b5ea6
.row-hl-13
  border-left : 2px solid #9b2335
