input {
  color: var(--md-sys-color-on-surface);
}

html {
  scrollbar-width: thin;
}

body {
  scrollbar-width: thin;
}

:root {
  // developer colors
  --color-hl-developer-container: hsl(272, 23%, 22%);
  --color-hl-developer-container-hover: hsl(272, 23%, 25%);
  --color-hl-developer-hover: hsl(272, 96%, 83%);
  --color-hl-developer-surface: hsl(272, 30%, 70%);
  --color-hl-developer-surface-hover: hsl(272, 30%, 75%);

  // production colors
  --color-hl-production: var(--md-sys-color-tertiary);
  --color-hl-production-hover: var(--md-sys-color-tertiary-hover);
  --color-hl-production-active: var(--md-sys-color-tertiary-active);

  // staging colors
  --color-hl-staging: hsl(357, 100%, 76%);
  --color-hl-staging-hover: hsl(357, 100%, 73%);
  --color-hl-staging-active: hsl(357, 100%, 70%);
}

#root {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  min-height: 0;

  & > main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    gap: 8px;
    padding: 8px;
    position: relative;

    &.center {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 16;
    }

    // Navigation
  }
}
nav.primary {
  background-color: var(--panel-background);
  padding: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  gap: 4px;
}

.section-header {
  font-size: 1.3em;
  padding-left: 8px;
  display: flex;
  align-items: center;
  min-height: var(--base-input-size);
  max-height: var(--base-input-size);
}

.embed {
  border: 0;
}
h3,
h4 {
  display: flex;
  align-items: center;
  margin: 0;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--md-sys-color-outline-variant);

  &h3 {
    margin-bottom: 20px;
  }
  &h4 {
    margin-bottom: 8px;
  }
  //
  // Hacks
  //

  // Hide the ugly login autocomplete highlight
}
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}
//
// Custom components
//

.oauth-icon {
  color: var(--md-sys-color-on-surface);
  width: 32px;
  height: auto;
  transition: color 0.4s ease;
  :hover {
    transition: color 0.4s ease;
  }
  //
  // Editor
  //
}
.editor-field {
  &.changed {
    outline: 1px solid var(--color-changed);
    background-color: var(--color-changed);
    color: var(--md-sys-color-on-primary);
    border-radius: var(--border-radius-m);
  }
  &.inherited {
    color: var(--md-ref-palette-neutral-variant60);
    font-style: italic;
  }
}

.p-treetable .p-treetable-tbody > tr.changed {
  border-left: 4px solid var(--color-changed) !important;
}

.p-treetable .p-treetable-tbody > tr.new {
  border-left: 4px solid var(--color-changed);
  span:not(.changed) {
    color: var(--color-changed) !important;
  }

  // dates
  td > div > span {
    color: var(--color-changed) !important;
  }
}

.table-editor {
  margin: 0;
  .p-inputwrapper {
    width: 100%;
    input {
      width: 100%;
      border: 1px solid var(--md-sys-color-primary);
    }
  }
}

// Label on name field in editor
.editor-page {
  .p-treetable td *.material-symbols-outlined,
  .p-datatable td *.material-symbols-outlined {
    &.label {
      font-variation-settings: 'FILL' 1, 'wght' 100, 'GRAD' 0, 'opsz' 18;
    }
  }
}
.form-error-text {
  color: var(--color-hl-error);
  font-style: italic;
}
//
// Bread crumbs
//

.breadcrumbs,
.settings-breadcrumbs {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  & > li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4em;

    &:not(:last-child) {
      &::after {
        margin: 0 5px;
        content: '/';
      }
    }
  }
}
.settings-breadcrumbs {
  & > li {
    font-size: 1em !important;
  }
}
.copy-uri-button {
  .icon {
    font-size: 1.2em !important;
  }
}
.Toastify__toast-body {
  strong {
    font-weight: bold;
    font-style: italic;
  }
  //
  // Highlights
  //

  // Fade the row - used for inherited values in the editor
}
.faded {
  color: rgba(234, 240, 246, 0.3);
  font-style: italic;
}

p strong {
  font-weight: 800;
}
// Highlighting (used to match product/tasks in the browser)

.row-hl-1 {
  color: #01cc34 !important;
}
.row-hl-2 {
  color: #9b00ff !important;
}
.row-hl-3 {
  color: #ffea02 !important;
}
.row-hl-4 {
  color: #dc1d83 !important;
}
.row-hl-5 {
  color: #fd9a04 !important;
}
.row-hl-6 {
  color: #ff5e50 !important;
}
.row-hl-7 {
  color: #009b77 !important;
}
.row-hl-8 {
  color: #dd4124 !important;
}
.row-hl-9 {
  color: #d65076 !important;
}
.row-hl-10 {
  color: #efc050 !important;
}
.row-hl-11 {
  color: #5b5ea6 !important;
}

.row-error {
  border-left-color: #dd4124 !important;
}
.row-warning {
  border-left-color: #efc050 !important;
}
.row-success {
  border-left-color: #01cc34 !important;
}

.p-treetable {
  height: 100%;
}
.p-treetable-scrollable-wrapper {
  height: inherit;
}
.p-treetable.search {
  display: grid;
  grid-template-rows: 1fr auto;
  .p-treetable-scrollable-wrapper {
    overflow-y: auto;
  }
}
.p-treetable-scrollable-view {
  height: inherit;
  display: flex;
  flex-direction: column;
}
.p-treetable-scrollable-body {
  flex: 1;
  max-height: none !important;
}
.p-treetable td.status {
  border-bottom: 1px solid #21252b !important;
}

// fixes editing with a button next to the input
.p-cell-editing {
  button {
    display: none;
  }
}

// remove text decoration from a tags
a {
  text-decoration: none;
  color: var(--md-sys-color-on-surface);
}

.p-tabview {
  .p-tabview-panels {
    background-color: var(--md-sys-color-surface-container-high);
    display: flex;
    justify-content: center;
    border-radius: 3px;
  }

  .p-tabview-nav {
    border: 0;
    li {
      .p-tabview-nav-link {
        background-color: var(--md-sys-color-surface-container);

        &:focus {
          box-shadow: none !important;
        }
      }
    }

    li:not(.p-highlight):not(.p-disabled):hover .p-tabview-nav-link {
      background-color: var(--md-sys-color-surface-container-high);
      transition: text-shadow 0.2s;
    }

    li.p-highlight {
      .p-tabview-nav-link {
        background-color: var(--md-sys-color-surface-container-high);

        span {
          color: var(--md-sys-color-on-surface-variant);
          text-decoration: underline;
        }
      }
    }
  }
  .p-tabview-panel {
    border: 0;
  }
}

.editor-form {
  overflow-x: clip;
  margin: 0 -1px;
  padding: 0 1px;
  .field {
    position: relative;

    margin: 0 -1px;
    padding: 0 1px;
    overflow-x: clip;
  }

  &.disabled {
    .field {
      cursor: not-allowed;
    }
  }

  input::placeholder {
    transition: color 0.1s;
  }

  &:not(.disabled):not(.inherited) {
    input:not(:focus) {
      &::placeholder {
        color: white;
      }
    }
  }

  // &.inherited {
  //   .field {
  //     &::before {
  //       content: 'inherited';
  //       display: block;
  //       position: absolute;
  //       right: 30px;
  //       top: 50%;
  //       translate: 0 -50%;
  //       opacity: 0.5;
  //     }
  //     &::after {
  //       opacity: 0.5;
  //     }
  //   }
  // }

  .p-dropdown {
    span {
      min-width: unset;
    }
  }

  .p-dropdown .p-dropdown-label.p-placeholder {
    color: white;
  }

  .p-disabled,
  .p-component:disabled {
    font-style: italic;
  }

  &.datetime.isMultiple:not(.isChanged) {
    .field {
      &::after {
        content: 'Mixed';
        display: block;
        position: absolute;
        left: 8px;
        top: 52%;
        translate: 0 -50%;
      }
    }
  }
}

.react-datepicker-popper {
  z-index: 1000;
}

// clearing a date input
.react-datepicker__close-icon {
  &::after {
    background-color: var(--md-sys-color-surface-container-highest);
  }
}

// context menu
.p-contextmenu {
  min-width: 12.5rem;
  width: unset;
  padding: 0;

  .p-submenu-list {
    padding: 0;
  }
}

@keyframes shimmerAnimation {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

@mixin getShimmerStyles(
  $color1: var(--md-sys-color-surface-container-low),
  $color2: var(--md-sys-color-surface-container),
  $speed: 1s
) {
  background: linear-gradient(to right, $color1 8%, $color2 18%, $color1 33%);
  background-size: 1000px 42px;
  animation: shimmerAnimation $speed linear infinite;
}

.table-loading {
  .p-treetable-tbody,
  .p-datatable-tbody {
    position: relative;
    &::after {
      content: '';
      display: block;
      position: absolute;
      inset: 0;
      opacity: 0.2;

      @include getShimmerStyles;
    }

    tr {
      td {
        opacity: 0;
      }
    }
    & > tr:nth-child(even) {
      background: var(--md-sys-color-surface-container);
      opacity: 0.25;
    }
  }
}

// for individual rows that are loading
.p-treetable-tbody,
.p-datatable-tbody {
  tr.loading {
    td {
      // hide anything inside
      > * {
        opacity: 0;
      }

      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        inset: 4px;
        left: 0;
        border-radius: 3px;
        opacity: 1;
        z-index: 100;
        background-color: var(--md-sys-color-surface-container);
        @include getShimmerStyles(
          var(--md-sys-color-surface-container),
          var(--md-sys-color-surface-container-hover)
        );
      }
    }
  }
}

// project list styles for collapsed
.project-list.collapsible {
  .p-datatable-table {
    width: fit-content;
  }
  // project list project header column
  thead {
    .p-column-header-content {
      width: 100%;
    }

    // header container
    .p-column-title {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      transition: grid-template-columns 0.15s, padding 0.15s;
      padding: 4px;
      padding-left: 8px;
    }
  }

  // title
  .title {
    width: 0;
    flex: 1;

    transition: flex 0.15s, opacity 0.075s;
  }

  .p-datatable-thead > tr > th {
    padding: 0;
  }

  &.collapsed {
    th {
      min-width: 0 !important;
      transition: min-width 0.15s !important;
    }

    .p-column-title {
      padding: 4px;
    }

    .p-datatable-wrapper {
      overflow: hidden;
    }

    // hide title
    .title {
      opacity: 0;
      flex: 0;
    }
  }
}

// remove color hover state
.p-contextmenu .p-menuitem.p-menuitem-active > .p-menuitem-link {
  &.p-menuitem-icon,
  &.p-menuitem-text {
    color: inherit;
  }
}

.p-contextmenu .p-menuitem-link:not(.p-disabled):hover {
  .p-menuitem-icon,
  .p-menuitem-text {
    color: inherit;
  }
}

// remove some hover
.p-contextmenu .p-menuitem-link:not(.p-disabled):hover {
  background: inherit;
}

.p-contextmenu {
  background-color: var(--md-sys-color-surface-container-lowest);
  border-color: var(--md-sys-color-outline-variant);
  .p-menuitem {
    // when hovering
    &.p-menuitem-active > .p-menuitem-link {
      background-color: var(--md-sys-color-surface-container-lowest-hover);

      &.p-disabled {
        background-color: var(--md-sys-color-surface-container-lowest);
      }

      &.save {
        background-color: var(--md-sys-color-primary-hover);
        span {
          color: var(--md-sys-color-on-primary);
        }
      }
    }

    & > .p-menuitem-link {
      padding-right: 10px;

      &,
      .icon {
        color: var(--md-sys-color-on-surface);
      }

      &.p-disabled {
        opacity: 0.4;
        color: var(--md-sys-color-on-surface-variant);
      }

      &.danger {
        background-color: var(--md-sys-color-error-container);
        span {
          color: var(--md-sys-color-on-error-container);
        }

        &:hover {
          background-color: var(--md-sys-color-error-container-hover);
        }
        &:active {
          background-color: var(--md-sys-color-error-container-active);
        }
      }

      &.save {
        background-color: var(--md-sys-color-primary);
        &,
        span {
          color: var(--md-sys-color-on-primary);
        }
      }
    }
  }
}

// addons table
.p-datatable.addons-table .p-datatable-tbody {
  .diff-version {
    color: var(--md-custom-color-warning) !important;
  }

  & > tr {
    border-left-width: 0;
    td {
      padding: 4px !important;
      height: unset;
    }
  }
}

// bundles table
.p-datatable.bundles-table .p-datatable-tbody > tr {
  border-left-width: 0;
  padding-left: 4px;
  &.archived {
    opacity: 0.5;
  }
}

// project side bar menu
.p-sidebar-left {
  align-items: flex-start;
}

.dashboard-tasks {
  .p-splitter-gutter {
    z-index: 100;
    align-items: flex-start;
    translate: 6px 0;
    transform-origin: left;

    .p-splitter-gutter-handle {
      height: 34px;
      background: var(--md-sys-color-outline-variant);
      border-radius: var(--border-radius);

      &:hover {
        background: var(--md-sys-color-outline);
      }
    }
  }
}

// confirm dialog buttons
.p-dialog.p-confirm-dialog {
  .p-dialog-footer {
    gap: 8px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
  }

  .p-button {
    border: none;
    margin-right: 0;
    &:focus {
      outline: none;
    }

    background-color: var(--md-sys-color-surface-container-highest);

    &:hover {
      background-color: var(--md-sys-color-surface-container-highest-hover);
    }
    &:active {
      background-color: var(--md-sys-color-surface-container-highest-active);
    }

    // for reject button
    &.p-confirm-dialog-reject {
      background-color: unset;
    }

    // for delete buttons
    &.button-danger {
      background-color: var(--md-sys-color-error-container);

      color: var(--md-sys-color-on-error-container);

      &:hover {
        background-color: var(--md-sys-color-error-container-hover);
      }
    }
  }
}

.broken-addon-row {
  color: red !important;
  font-style: italic;
}

.p-sidebar-left .p-sidebar {
  min-width: 20rem;
  width: auto;
}
