$prime-input-border: 1px solid $color-grey-03
$prime-input-background: $color-grey-00
$prime-button-background: $color-grey-03


.p-component
  font-family: $font-family

.p-component-overlay
  background: rgba($color-grey-00, .5)

// input

.p-inputtext, .p-multiselect, .p-dropdown
  background-color: $prime-input-background
  border: $prime-input-border
  border-radius: 4px
  box-shadow: none !important

  &:enabled, &:not(.p-disabled)
    &:focus, &:hover
      border-color: $color-hl-00

// button

.p-button:not(.p-button-link)
  background: $op-button-primary-background
  border: 2px solid transparent !important
  color: $color-text

  &:focus
    border: 2px solid $op-button-primary-background

  &:not(a):not(.p-disabled)
    &:hover
      background: lighten($op-button-primary-background, 6)
      border: 2px solid $op-button-primary-background
      color: $color-text

    &:hover
      background: lighten($op-button-primary-background, 8)
      border: 2px solid $op-button-primary-background
      color: $color-text

.p-multiselect-panel, .p-dropdown-panel
  background: rgba($op-background-dark,.9)
  .p-multiselect-header
    background: $op-background-dark

.p-menu
  background: rgba($op-background-dark,.9)
  .p-submenu-header
    background: $op-background-dark


// Tables

.p-treetable-scrollable-body-table
  margin-bottom: 40px // to move the scrollbar at least a little bit lower

.p-treetable
  td
    padding: 1px !important
    *
      vertical-align: middle !important
      &.material-symbols-outlined
        padding: 0
        vertical-align: text-top !important
        display: inline,
        font-size: 1.5rem !important,



.p-datatable, .p-treetable
  user-select: none

  td
    border: 0 !important
    white-space: nowrap
    border-bottom: 0 !important
    overflow: hidden
    text-overflow: ellipsis

  .p-datatable-tbody > tr, .p-treetable-tbody > tr
    border-bottom: 1px solid transparent

    &.changed
      border-left: 4px solid #106aa2 !important

    &:nth-child(odd)
      background: #21252b
      border-left: 4px solid #21252b

    &:nth-child(even)
      background: #272c33
      border-left: 4px solid #272c33

    &.p-highlight
      background: rgba($color-hl-00, .2)
      &:hover
        background: rgba($color-hl-00, .3) !important

    &:hover
      background: rgba(255, 255, 255, 0.05) !important
      color: white

    td
      height: 2rem
      .p-treetable-toggler
        vertical-align: baseline

  .p-datatable-thead > tr > th, .p-treetable-thead > tr > th
    border: 0
    background: $color-grey-00
    border-right: 2px solid $op-background-light
    padding: 0.5rem .6rem .6rem .6rem

.p-treetable-scrollable-header
  background: $color-grey-00 !important

.p-datatable-thead > tr, .p-treetable-thead > tr
    background: $color-grey-00 !important
    user-select: none
    border-bottom: 2px solid rgba(0,0,0,.1)

    th:last-child
      border-right: 1px solid transparent

.p-datatable .p-sortable-column.p-highlight
  background: $color-grey-00


// Splitter


.p-splitter
  background: transparent
  border: 0

  .p-splitter-panel
    position: relative
    background: transparent

  .p-splitter-gutter, .p-splitter-gutter-resizing
    background: transparent !important


.p-breadcrumb
  background: transparent
  border: 0

.p-fieldset
  background: none
  .p-fieldset-legend
    background: none


.p-button-link
  display: inline
  padding: 0
  &:hover
    box-shadow: 0
    border: 0


.p-sidebar, .p-dialog, .p-paginator
  background: $op-background-main
  border: 0

  .p-dialog-content
    background: transparent
    border-top: 1px solid $color-grey-02
    border-bottom: 1px solid $color-grey-02
    padding: 10px

  .p-dialog-header, .p-dialog-footer
    background: transparent
    border: 0

  .p-dialog-footer
    padding-top: 15px

  .p-sidebar-header
    h3
      display: block
      position: absolute
      top: 16px
      left: 0
      width: 100%
      text-align: center
      border: 0



.tool-button
  margin: 0,
  padding: 0,
  height: 32px,
  width: auto,
  aspect-ratio: 1,
  display: flex
  align-items: center
  justify-content: center
  box-shadow: none
  border: 0 !important
  color: $color-text !important
  span
    font-size: 1.5rem !important

.normal-button
  margin: 0,
  padding: 0 6px,
  height: 32px,
  display: flex
  align-items: center
  justify-content: center
  box-shadow: none
  border: 0 !important
  color: $color-text !important
  gap: 6px

  .icon
    vertical-align: top !important
    font-size: 1.5rem !important

  .label
    font-size: 1.1rem !important
    display: block
    flex-grow: 1

.link-button
  padding: 0
  margin: 0



.p-panel, .p-panel.p-panel-toggleable
  .p-panel-content
    padding: 6px
    border-radius: 0
    border: 0
    background-color: transparent

  .p-panel-header
    border-radius: 3px
    background-color: #434a56
    color: #e3e3e3
    border: 0
    padding: 0.3rem 0.5rem
    border-left: 4px solid transparent

.p-divider
  .p-divider-content
    background-color: transparent


