$prime-input-background: $op-background-dark
$prime-input-border: 2px solid #373d48 


.p-component
  font-family: $op-font-family

.p-component-overlay
  background: rgba($op-background-dark,.5)

// input

.p-inputtext, .p-multiselect, .p-dropdown
  background-color: $prime-input-background
  border: $prime-input-border
  border-radius: 4px

  &:enabled, &:not(.p-disabled)
    &:focus, &:hover
      box-shadow: 0 0 1px rgba(#47b7da, .3)
      border-color: #47b7da

// button

.p-button:not(.p-button-link)
  background: $op-button-primary-background
  border: 2px solid transparent !important
  margin: 1px
  color: $op-font-color

  &:focus
    border: 2px solid $op-button-primary-background

  &:not(a):not(.p-disabled)
    &:hover
      background: lighten($op-button-primary-background, 6)
      border: 2px solid $op-button-primary-background
      color: $op-font-color

    &:hover
      background: lighten($op-button-primary-background, 8)
      border: 2px solid $op-button-primary-background
      color: $op-font-color

.p-multiselect-panel, .p-dropdown-panel
  background: rgba($op-background-dark,.9)
  .p-multiselect-header
    background: $op-background-dark

.p-menu
  background: rgba($op-background-dark,.9)
  .p-submenu-header
    background: $op-background-dark


// Tables


.p-treetable
  td
    padding: 1px !important

.p-datatable
  td
    padding: 6px !important

.p-datatable, .p-treetable
  user-select: none

  td
    border: 0 !important
    white-space: nowrap
    border-bottom: 0 !important
    overflow: hidden
    text-overflow: ellipsis

  .p-datatable-tbody > tr, .p-treetable-tbody > tr
    background: $op-background-dark

    td
      height: 2rem
      .p-treetable-toggler
        vertical-align: baseline

  .p-datatable-thead > tr > th, .p-treetable-thead > tr > th
    border: 0
    background: $op-background-dark
    border-right: 2px solid $op-background-light
    padding: 0.5rem .6rem .6rem .6rem

.p-treetable-scrollable-header
  background: $op-background-dark !important

.p-datatable-thead > tr, .p-treetable-thead > tr
    background: $op-background-dark !important
    user-select: none
    border-bottom: 2px solid rgba(0,0,0,.1)
    --webkit-user-drag: none

    th:last-child
      border-right: 1px solid transparent

.p-datatable .p-sortable-column.p-highlight
  background: $op-background-dark

// Splitter


.p-splitter
  background: transparent
  border: 0

  .p-splitter-panel
    position: relative
    background: transparent

  .p-splitter-gutter, .p-splitter-gutter-resizing
    background: transparent !important


.p-breadcrumb
  background: transparent
  border: 0

.p-fieldset
  background: none
  .p-fieldset-legend
    background: none


.p-button-link
  display: inline
  padding: 0
  &:hover
    boxShadow: 0
    border: 0


.table-editor
  input
    min-width: 50px
    width: 100%
    border:0


.p-accordion
  width: 100%
  .p-accordion-header
    .p-accordion-header-link
      background: darken($op-background-dark,2)
      border: 0
      &:focus
        box-shadow: none !important

    &:not(.p-disabled).p-highlight .p-accordion-header-link
        background: darken($op-background-dark,2)
        border: 0
        outline: none !important

  .p-accordion-content
    background: transparent !important
    border: 0


.p-sidebar, .p-dialog, .p-paginator
  background: rgba($op-background-dark,.9)
  border: 0

  .p-dialog-header, .p-dialog-content
    background: transparent
    border: 0


.p-sidebar-header
  h3
    display: block
    position: absolute
    top: 16px
    left: 0
    width: 100%
    text-align: center



.tool-button
  margin: 0,
  padding: 0,
  height: 2.5rem,
  width: auto,
  aspect-ratio: 1,
  display: flex
  align-items: center
  justify-content: center
  box-shadow: none
  border: 1px solid transparent !important
  color: $op-font-color !important
  span
    font-size: 1.5rem !important
