$font-family: 'Nunito Sans', 'Lato', 'Roboto', 'Helvetica', sans-serif
$font-size: 13px

// Obsolete


$op-background-main: #2c313a
$op-background-light: #232c33
$op-background-dark: #21252B


$op-button-primary-background: #434a56
$op-scrollbar-color: #4b5362
$op-table-header-background: #232c33

$op-section-gap: 5px

// New scheme

$color-grey-00: #21252b
$color-grey-01: #2c313a
$color-grey-02: #373d48
$color-grey-03: #434a56
$color-grey-04: #4b5362
$color-grey-05: #576170
$color-grey-06: #6b7685
$color-grey-07: #99a3b2
$color-grey-08: #d3d8de
$color-grey-09: #f0f2f5

$color-text: $color-grey-08
$color-icon:  #c1d8e9 
$color-hl-00: #47b7da
$color-hl-01: #fb9c15

$color-scrollbar-thumb: $color-grey-03
$color-scrollbar-thumb-hover: $color-grey-04

// Helper classes

.color-icon
  color: $color-icon

.color-hl-00
  color: $color-hl-00

.color-hl-01
  color: $color-hl-01

.faded
  color: rgba(234, 240, 246, 0.3)
  font-style: italic
