.primary {
  background-color: var(--md-sys-color-primary);
}

.primaryText {
  color: var(--md-sys-color-primary);
}

.onPrimary {
  background-color: var(--md-sys-color-on-primary);
}

.onPrimaryText {
  color: var(--md-sys-color-on-primary);
}

.primaryContainer {
  background-color: var(--md-sys-color-primary-container);
}

.primaryContainerText {
  color: var(--md-sys-color-primary-container);
}

.onPrimaryContainer {
  background-color: var(--md-sys-color-on-primary-container);
}

.onPrimaryContainerText {
  color: var(--md-sys-color-on-primary-container);
}

.primaryFixed {
  background-color: var(--md-sys-color-primary-fixed);
}

.primaryFixedText {
  color: var(--md-sys-color-primary-fixed);
}

.onPrimaryFixed {
  background-color: var(--md-sys-color-on-primary-fixed);
}

.onPrimaryFixedText {
  color: var(--md-sys-color-on-primary-fixed);
}

.primaryFixedDim {
  background-color: var(--md-sys-color-primary-fixed-dim);
}

.primaryFixedDimText {
  color: var(--md-sys-color-primary-fixed-dim);
}

.onPrimaryFixedVariant {
  background-color: var(--md-sys-color-on-primary-fixed-variant);
}

.onPrimaryFixedVariantText {
  color: var(--md-sys-color-on-primary-fixed-variant);
}

.secondary {
  background-color: var(--md-sys-color-secondary);
}

.secondaryText {
  color: var(--md-sys-color-secondary);
}

.onSecondary {
  background-color: var(--md-sys-color-on-secondary);
}

.onSecondaryText {
  color: var(--md-sys-color-on-secondary);
}

.secondaryContainer {
  background-color: var(--md-sys-color-secondary-container);
}

.secondaryContainerText {
  color: var(--md-sys-color-secondary-container);
}

.onSecondaryContainer {
  background-color: var(--md-sys-color-on-secondary-container);
}

.onSecondaryContainerText {
  color: var(--md-sys-color-on-secondary-container);
}

.secondaryFixed {
  background-color: var(--md-sys-color-secondary-fixed);
}

.secondaryFixedText {
  color: var(--md-sys-color-secondary-fixed);
}

.onSecondaryFixed {
  background-color: var(--md-sys-color-on-secondary-fixed);
}

.onSecondaryFixedText {
  color: var(--md-sys-color-on-secondary-fixed);
}

.secondaryFixedDim {
  background-color: var(--md-sys-color-secondary-fixed-dim);
}

.secondaryFixedDimText {
  color: var(--md-sys-color-secondary-fixed-dim);
}

.onSecondaryFixedVariant {
  background-color: var(--md-sys-color-on-secondary-fixed-variant);
}

.onSecondaryFixedVariantText {
  color: var(--md-sys-color-on-secondary-fixed-variant);
}

.tertiary {
  background-color: var(--md-sys-color-tertiary);
}

.tertiaryText {
  color: var(--md-sys-color-tertiary);
}

.onTertiary {
  background-color: var(--md-sys-color-on-tertiary);
}

.onTertiaryText {
  color: var(--md-sys-color-on-tertiary);
}

.tertiaryContainer {
  background-color: var(--md-sys-color-tertiary-container);
}

.tertiaryContainerText {
  color: var(--md-sys-color-tertiary-container);
}

.onTertiaryContainer {
  background-color: var(--md-sys-color-on-tertiary-container);
}

.onTertiaryContainerText {
  color: var(--md-sys-color-on-tertiary-container);
}

.tertiaryFixed {
  background-color: var(--md-sys-color-tertiary-fixed);
}

.tertiaryFixedText {
  color: var(--md-sys-color-tertiary-fixed);
}

.onTertiaryFixed {
  background-color: var(--md-sys-color-on-tertiary-fixed);
}

.onTertiaryFixedText {
  color: var(--md-sys-color-on-tertiary-fixed);
}

.tertiaryFixedDim {
  background-color: var(--md-sys-color-tertiary-fixed-dim);
}

.tertiaryFixedDimText {
  color: var(--md-sys-color-tertiary-fixed-dim);
}

.onTertiaryFixedVariant {
  background-color: var(--md-sys-color-on-tertiary-fixed-variant);
}

.onTertiaryFixedVariantText {
  color: var(--md-sys-color-on-tertiary-fixed-variant);
}

/* .error {
  background-color: var(--md-sys-color-error);
} */
.errorText {
  color: var(--md-sys-color-error);
}

.onError {
  background-color: var(--md-sys-color-on-error);
}

.onErrorText {
  color: var(--md-sys-color-on-error);
}

.errorContainer {
  background-color: var(--md-sys-color-error-container);
}

.errorContainerText {
  color: var(--md-sys-color-error-container);
}

.onErrorContainer {
  background-color: var(--md-sys-color-on-error-container);
}

.onErrorContainerText {
  color: var(--md-sys-color-on-error-container);
}

.outline {
  background-color: var(--md-sys-color-outline);
}

.outlineText {
  color: var(--md-sys-color-outline);
}

.background {
  background-color: var(--md-sys-color-background);
}

.backgroundText {
  color: var(--md-sys-color-background);
}

.onBackground {
  background-color: var(--md-sys-color-on-background);
}

.onBackgroundText {
  color: var(--md-sys-color-on-background);
}

.surface {
  background-color: var(--md-sys-color-surface);
}

.surfaceText {
  color: var(--md-sys-color-surface);
}

.onSurface {
  background-color: var(--md-sys-color-on-surface);
}

.onSurfaceText {
  color: var(--md-sys-color-on-surface);
}

.surfaceVariant {
  background-color: var(--md-sys-color-surface-variant);
}

.surfaceVariantText {
  color: var(--md-sys-color-surface-variant);
}

.onSurfaceVariant {
  background-color: var(--md-sys-color-on-surface-variant);
}

.onSurfaceVariantText {
  color: var(--md-sys-color-on-surface-variant);
}

.inverseSurface {
  background-color: var(--md-sys-color-inverse-surface);
}

.inverseSurfaceText {
  color: var(--md-sys-color-inverse-surface);
}

.inverseOnSurface {
  background-color: var(--md-sys-color-inverse-on-surface);
}

.inverseOnSurfaceText {
  color: var(--md-sys-color-inverse-on-surface);
}

.inversePrimary {
  background-color: var(--md-sys-color-inverse-primary);
}

.inversePrimaryText {
  color: var(--md-sys-color-inverse-primary);
}

.shadow {
  background-color: var(--md-sys-color-shadow);
}

.shadowText {
  color: var(--md-sys-color-shadow);
}

.surfaceTint {
  background-color: var(--md-sys-color-surface-tint);
}

.surfaceTintText {
  color: var(--md-sys-color-surface-tint);
}

.outlineVariant {
  background-color: var(--md-sys-color-outline-variant);
}

.outlineVariantText {
  color: var(--md-sys-color-outline-variant);
}

.scrim {
  background-color: var(--md-sys-color-scrim);
}

.scrimText {
  color: var(--md-sys-color-scrim);
}

.surfaceContainerHighest {
  background-color: var(--md-sys-color-surface-container-highest);
}

.surfaceContainerHighestText {
  color: var(--md-sys-color-surface-container-highest);
}

.surfaceContainerHigh {
  background-color: var(--md-sys-color-surface-container-high);
}

.surfaceContainerHighText {
  color: var(--md-sys-color-surface-container-high);
}

.surfaceContainer {
  background-color: var(--md-sys-color-surface-container);
}

.surfaceContainerText {
  color: var(--md-sys-color-surface-container);
}

.surfaceContainerLow {
  background-color: var(--md-sys-color-surface-container-low);
}

.surfaceContainerLowText {
  color: var(--md-sys-color-surface-container-low);
}

.surfaceContainerLowest {
  background-color: var(--md-sys-color-surface-container-lowest);
}

.surfaceContainerLowestText {
  color: var(--md-sys-color-surface-container-lowest);
}

.surfaceBright {
  background-color: var(--md-sys-color-surface-bright);
}

.surfaceBrightText {
  color: var(--md-sys-color-surface-bright);
}

.surfaceDim {
  background-color: var(--md-sys-color-surface-dim);
}

.surfaceDimText {
  color: var(--md-sys-color-surface-dim);
}