:root {
    --md-sys-color-primary: var(--md-sys-color-primary-dark);
    --md-sys-color-on-primary: var(--md-sys-color-on-primary-dark);
    --md-sys-color-primary-container: var(--md-sys-color-primary-container-dark);
    --md-sys-color-on-primary-container: var(--md-sys-color-on-primary-container-dark);
    --md-sys-color-primary-fixed: var(--md-sys-color-primary-fixed-dark);
    --md-sys-color-on-primary-fixed: var(--md-sys-color-on-primary-fixed-dark);
    --md-sys-color-primary-fixed-dim: var(--md-sys-color-primary-fixed-dim-dark);
    --md-sys-color-on-primary-fixed-variant: var(--md-sys-color-on-primary-fixed-variant-dark);
    --md-sys-color-secondary: var(--md-sys-color-secondary-dark);
    --md-sys-color-on-secondary: var(--md-sys-color-on-secondary-dark);
    --md-sys-color-secondary-container: var(--md-sys-color-secondary-container-dark);
    --md-sys-color-on-secondary-container: var(--md-sys-color-on-secondary-container-dark);
    --md-sys-color-secondary-fixed: var(--md-sys-color-secondary-fixed-dark);
    --md-sys-color-on-secondary-fixed: var(--md-sys-color-on-secondary-fixed-dark);
    --md-sys-color-secondary-fixed-dim: var(--md-sys-color-secondary-fixed-dim-dark);
    --md-sys-color-on-secondary-fixed-variant: var(--md-sys-color-on-secondary-fixed-variant-dark);
    --md-sys-color-tertiary: var(--md-sys-color-tertiary-dark);
    --md-sys-color-on-tertiary: var(--md-sys-color-on-tertiary-dark);
    --md-sys-color-tertiary-container: var(--md-sys-color-tertiary-container-dark);
    --md-sys-color-on-tertiary-container: var(--md-sys-color-on-tertiary-container-dark);
    --md-sys-color-tertiary-fixed: var(--md-sys-color-tertiary-fixed-dark);
    --md-sys-color-on-tertiary-fixed: var(--md-sys-color-on-tertiary-fixed-dark);
    --md-sys-color-tertiary-fixed-dim: var(--md-sys-color-tertiary-fixed-dim-dark);
    --md-sys-color-on-tertiary-fixed-variant: var(--md-sys-color-on-tertiary-fixed-variant-dark);
    --md-sys-color-error: var(--md-sys-color-error-dark);
    --md-sys-color-on-error: var(--md-sys-color-on-error-dark);
    --md-sys-color-error-container: var(--md-sys-color-error-container-dark);
    --md-sys-color-on-error-container: var(--md-sys-color-on-error-container-dark);
    --md-sys-color-warning: var(--md-sys-color-warning-dark);
    --md-sys-color-on-warning: var(--md-sys-color-on-warning-dark);
    --md-sys-color-warning-container: var(--md-sys-color-warning-container-dark);
    --md-sys-color-on-warning-container: var(--md-sys-color-on-warning-container-dark);
    --md-sys-color-outline: var(--md-sys-color-outline-dark);
    --md-sys-color-background: var(--md-sys-color-background-dark);
    --md-sys-color-on-background: var(--md-sys-color-on-background-dark);
    --md-sys-color-surface: var(--md-sys-color-surface-dark);
    --md-sys-color-on-surface: var(--md-sys-color-on-surface-dark);
    --md-sys-color-surface-variant: var(--md-sys-color-surface-variant-dark);
    --md-sys-color-on-surface-variant: var(--md-sys-color-on-surface-variant-dark);
    --md-sys-color-inverse-surface: var(--md-sys-color-inverse-surface-dark);
    --md-sys-color-inverse-on-surface: var(--md-sys-color-inverse-on-surface-dark);
    --md-sys-color-inverse-primary: var(--md-sys-color-inverse-primary-dark);
    --md-sys-color-shadow: var(--md-sys-color-shadow-dark);
    --md-sys-color-surface-tint: var(--md-sys-color-surface-tint-dark);
    --md-sys-color-outline-variant: var(--md-sys-color-outline-variant-dark);
    --md-sys-color-scrim: var(--md-sys-color-scrim-dark);
    --md-sys-color-surface-container-highest: var(--md-sys-color-surface-container-highest-dark);
    --md-sys-color-surface-container-high: var(--md-sys-color-surface-container-high-dark);
    --md-sys-color-surface-container: var(--md-sys-color-surface-container-dark);
    --md-sys-color-surface-container-low: var(--md-sys-color-surface-container-low-dark);
    --md-sys-color-surface-container-lowest: var(--md-sys-color-surface-container-lowest-dark);
    --md-sys-color-surface-bright: var(--md-sys-color-surface-bright-dark);
    --md-sys-color-surface-dim: var(--md-sys-color-surface-dim-dark);
    /* hover */
    --md-sys-color-primary-hover: var(--md-sys-color-primary-dark-hover);
    --md-sys-color-on-primary-hover: var(--md-sys-color-on-primary-dark-hover);
    --md-sys-color-primary-container-hover: var(--md-sys-color-primary-container-dark-hover);
    --md-sys-color-secondary-hover: var(--md-sys-color-secondary-dark-hover);
    --md-sys-color-secondary-container-hover: var(--md-sys-color-secondary-container-dark-hover);
    --md-sys-color-tertiary-hover: var(--md-sys-color-tertiary-dark-hover);
    --md-sys-color-tertiary-container-hover: var(--md-sys-color-tertiary-container-dark-hover);
    --md-sys-color-surface-container-highest-hover: var(--md-sys-color-surface-container-highest-dark-hover);
    --md-sys-color-surface-container-high-hover: var(--md-sys-color-surface-container-high-dark-hover);
    --md-sys-color-surface-container-hover: var(--md-sys-color-surface-container-dark-hover);
    --md-sys-color-surface-container-low-hover: var(--md-sys-color-surface-container-low-dark-hover);
    --md-sys-color-surface-container-lowest-hover: var(--md-sys-color-surface-container-lowest-dark-hover);
    /* active */
    --md-sys-color-primary-active: var(--md-sys-color-primary-dark-active);
    --md-sys-color-on-primary-active: var(--md-sys-color-on-primary-dark-active);
    --md-sys-color-primary-container-active: var(--md-sys-color-primary-container-dark-active);
    --md-sys-color-secondary-active: var(--md-sys-color-secondary-dark-active);
    --md-sys-color-secondary-container-active: var(--md-sys-color-secondary-container-dark-active);
    --md-sys-color-tertiary-active: var(--md-sys-color-tertiary-dark-active);
    --md-sys-color-tertiary-container-active: var(--md-sys-color-tertiary-container-dark-active);
    --md-sys-color-surface-container-highest-active: var(--md-sys-color-surface-container-highest-dark-active);
    --md-sys-color-surface-container-high-active: var(--md-sys-color-surface-container-high-dark-active);
    --md-sys-color-surface-container-active: var(--md-sys-color-surface-container-dark-active);
    --md-sys-color-surface-container-low-active: var(--md-sys-color-surface-container-low-dark-active);
    --md-sys-color-surface-container-lowest-active: var(--md-sys-color-surface-container-lowest-dark-active);

}