:root {
  --md-source: #009BE1;
  /* dark */
  --md-sys-color-primary-dark: #8FCEFF;
  --md-sys-color-on-primary-dark: #00344F;
  --md-sys-color-primary-container-dark: #004B70;
  --md-sys-color-on-primary-container-dark: #EBF5FF;
  --md-sys-color-primary-fixed-dark: #CAE6FF;
  --md-sys-color-on-primary-fixed-dark: #001E30;
  --md-sys-color-primary-fixed-dim-dark: #8DCDFF;
  --md-sys-color-on-primary-fixed-variant-dark: #004B70;
  --md-sys-color-secondary-dark: #B7C9D9;
  --md-sys-color-on-secondary-dark: #22323F;
  --md-sys-color-secondary-container-dark: #384956;
  --md-sys-color-on-secondary-container-dark: #D3E5F6;
  --md-sys-color-secondary-fixed-dark: #D3E5F6;
  --md-sys-color-on-secondary-fixed-dark: #0C1D29;
  --md-sys-color-secondary-fixed-dim-dark: #B7C9D9;
  --md-sys-color-on-secondary-fixed-variant-dark: #384956;
  --md-sys-color-tertiary-dark: #23E0A9;
  --md-sys-color-on-tertiary-dark: #003827;
  --md-sys-color-tertiary-container-dark: #00513A;
  --md-sys-color-on-tertiary-container-dark: #52FDC3;
  --md-sys-color-tertiary-fixed-dark: #52FDC3;
  --md-sys-color-on-tertiary-fixed-dark: #002115;
  --md-sys-color-tertiary-fixed-dim-dark: #23E0A9;
  --md-sys-color-on-tertiary-fixed-variant-dark: #00513A;
  --md-sys-color-error-dark: #FFB4AB;
  --md-sys-color-on-error-dark: #690005;
  --md-sys-color-error-container-dark: #93000A;
  --md-sys-color-on-error-container-dark: #FFDAD6;
  --md-sys-color-outline-dark: #8B9198;
  --md-sys-color-background-dark: #252A31;
  --md-sys-color-on-background-dark: #F2F2F3;
  --md-sys-color-surface-dark: #252B32;
  --md-sys-color-on-surface-dark: #F4F5F5;
  --md-sys-color-surface-variant-dark: #41474D;
  --md-sys-color-on-surface-variant-dark: #C1C7CE;
  --md-sys-color-inverse-surface-dark: #E2E2E5;
  --md-sys-color-inverse-on-surface-dark: #191B1E;
  --md-sys-color-inverse-primary-dark: #006493;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #8DCDFF;
  --md-sys-color-outline-variant-dark: #41474D;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #424A57;
  --md-sys-color-surface-container-high-dark: #353B46;
  --md-sys-color-surface-container-dark: #272D35;
  --md-sys-color-surface-container-low-dark: #1C2026;
  --md-sys-color-surface-container-lowest-dark: #16191D;
  --md-sys-color-surface-bright-dark: #34383F;
  --md-sys-color-surface-dim-dark: #060709;
  /* Custom Colors */
  --md-custom-color-warning: #fb9c15;
  --md-sys-color-warning-dark: hsl(25, 100%, 84%);
  --md-sys-color-on-warning-dark: hsl(25, 100%, 21%);
  --md-sys-color-warning-container-dark: hsl(25, 100%, 29%);
  --md-sys-color-on-warning-container-dark: hsl(25, 100%, 92%);
  /* primary */
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary5: #001320;
  --md-ref-palette-primary10: #001E30;
  --md-ref-palette-primary20: #00344F;
  --md-ref-palette-primary25: #003F5F;
  --md-ref-palette-primary30: #004B70;
  --md-ref-palette-primary35: #005881;
  --md-ref-palette-primary40: #006493;
  --md-ref-palette-primary50: #007EB8;
  --md-ref-palette-primary60: #0099DE;
  --md-ref-palette-primary70: #3DB4FC;
  --md-ref-palette-primary80: #8DCDFF;
  --md-ref-palette-primary90: #CAE6FF;
  --md-ref-palette-primary95: #E6F2FF;
  --md-ref-palette-primary98: #F6F9FF;
  --md-ref-palette-primary99: #FCFCFF;
  --md-ref-palette-primary100: #FFFFFF;
  /* secondary */
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary5: #02121E;
  --md-ref-palette-secondary10: #0C1D29;
  --md-ref-palette-secondary20: #22323F;
  --md-ref-palette-secondary25: #2D3D4A;
  --md-ref-palette-secondary30: #384956;
  --md-ref-palette-secondary35: #445462;
  --md-ref-palette-secondary40: #50606E;
  --md-ref-palette-secondary50: #687988;
  --md-ref-palette-secondary60: #8293A2;
  --md-ref-palette-secondary70: #9CADBD;
  --md-ref-palette-secondary80: #B7C9D9;
  --md-ref-palette-secondary90: #D3E5F6;
  --md-ref-palette-secondary95: #E6F2FF;
  --md-ref-palette-secondary98: #F6F9FF;
  --md-ref-palette-secondary99: #FCFCFF;
  --md-ref-palette-secondary100: #FFFFFF;
  /* tertiary */
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary5: #00150C;
  --md-ref-palette-tertiary10: #002115;
  --md-ref-palette-tertiary20: #003827;
  --md-ref-palette-tertiary25: #004531;
  --md-ref-palette-tertiary30: #00513A;
  --md-ref-palette-tertiary35: #005E44;
  --md-ref-palette-tertiary40: #006C4F;
  --md-ref-palette-tertiary50: #008864;
  --md-ref-palette-tertiary60: #00A47A;
  --md-ref-palette-tertiary70: #00C290;
  --md-ref-palette-tertiary80: #23E0A9;
  --md-ref-palette-tertiary90: #52FDC3;
  --md-ref-palette-tertiary95: #BCFFE0;
  --md-ref-palette-tertiary98: #E7FFF1;
  --md-ref-palette-tertiary99: #F4FFF7;
  --md-ref-palette-tertiary100: #FFFFFF;
  /* error */
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error5: #2D0001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error25: #7E0007;
  --md-ref-palette-error30: #93000A;
  --md-ref-palette-error35: #A80710;
  --md-ref-palette-error40: #BA1A1A;
  --md-ref-palette-error50: #DE3730;
  --md-ref-palette-error60: #FF5449;
  --md-ref-palette-error70: #FF897D;
  --md-ref-palette-error80: #FFB4AB;
  --md-ref-palette-error90: #FFDAD6;
  --md-ref-palette-error95: #FFEDEA;
  --md-ref-palette-error98: #FFF8F7;
  --md-ref-palette-error99: #FFFBFF;
  --md-ref-palette-error100: #FFFFFF;
  /* neutral */
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral5: #0F1113;
  --md-ref-palette-neutral10: #191C1E;
  --md-ref-palette-neutral20: #2E3133;
  --md-ref-palette-neutral25: #393C3E;
  --md-ref-palette-neutral30: #454749;
  --md-ref-palette-neutral35: #515355;
  --md-ref-palette-neutral40: #5D5E61;
  --md-ref-palette-neutral50: #75777A;
  --md-ref-palette-neutral60: #8F9193;
  --md-ref-palette-neutral70: #AAABAE;
  --md-ref-palette-neutral80: #C5C6C9;
  --md-ref-palette-neutral90: #E2E2E5;
  --md-ref-palette-neutral95: #F0F0F3;
  --md-ref-palette-neutral98: #F9F9FC;
  --md-ref-palette-neutral99: #FCFCFF;
  --md-ref-palette-neutral100: #FFFFFF;
  /* neutral-variant */
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant5: #0B1216;
  --md-ref-palette-neutral-variant10: #161C21;
  --md-ref-palette-neutral-variant20: #2B3137;
  --md-ref-palette-neutral-variant25: #363C42;
  --md-ref-palette-neutral-variant30: #41474D;
  --md-ref-palette-neutral-variant35: #4D5359;
  --md-ref-palette-neutral-variant40: #595F65;
  --md-ref-palette-neutral-variant50: #71787E;
  --md-ref-palette-neutral-variant60: #8B9198;
  --md-ref-palette-neutral-variant70: #A6ACB3;
  --md-ref-palette-neutral-variant80: #C1C7CE;
  --md-ref-palette-neutral-variant90: #DDE3EA;
  --md-ref-palette-neutral-variant95: #EBF1F8;
  --md-ref-palette-neutral-variant98: #F6FAFF;
  --md-ref-palette-neutral-variant99: #FCFCFF;
  --md-ref-palette-neutral-variant100: #FFFFFF;
  /* light */
  --md-sys-color-primary-light: #006493;
  --md-sys-color-on-primary-light: #FFFFFF;
  --md-sys-color-primary-container-light: #CAE6FF;
  --md-sys-color-on-primary-container-light: #001E30;
  --md-sys-color-primary-fixed-light: #CAE6FF;
  --md-sys-color-on-primary-fixed-light: #001E30;
  --md-sys-color-primary-fixed-dim-light: #8DCDFF;
  --md-sys-color-on-primary-fixed-variant-light: #004B70;
  --md-sys-color-secondary-light: #50606E;
  --md-sys-color-on-secondary-light: #FFFFFF;
  --md-sys-color-secondary-container-light: #D3E5F6;
  --md-sys-color-on-secondary-container-light: #0C1D29;
  --md-sys-color-secondary-fixed-light: #D3E5F6;
  --md-sys-color-on-secondary-fixed-light: #0C1D29;
  --md-sys-color-secondary-fixed-dim-light: #B7C9D9;
  --md-sys-color-on-secondary-fixed-variant-light: #384956;
  --md-sys-color-tertiary-light: #006C4F;
  --md-sys-color-on-tertiary-light: #FFFFFF;
  --md-sys-color-tertiary-container-light: #52FDC3;
  --md-sys-color-on-tertiary-container-light: #002115;
  --md-sys-color-tertiary-fixed-light: #52FDC3;
  --md-sys-color-on-tertiary-fixed-light: #002115;
  --md-sys-color-tertiary-fixed-dim-light: #23E0A9;
  --md-sys-color-on-tertiary-fixed-variant-light: #00513A;
  --md-sys-color-error-light: #BA1A1A;
  --md-sys-color-on-error-light: #FFFFFF;
  --md-sys-color-error-container-light: #FFDAD6;
  --md-sys-color-on-error-container-light: #410002;
  --md-sys-color-outline-light: #71787E;
  --md-sys-color-background-light: #FCFCFF;
  --md-sys-color-on-background-light: #111213;
  --md-sys-color-surface-light: #F9F9FC;
  --md-sys-color-on-surface-light: #191C1E;
  --md-sys-color-surface-variant-light: #DDE3EA;
  --md-sys-color-on-surface-variant-light: #41474D;
  --md-sys-color-inverse-surface-light: #2E3133;
  --md-sys-color-inverse-on-surface-light: #F0F0F3;
  --md-sys-color-inverse-primary-light: #8DCDFF;
  --md-sys-color-shadow-light: #000000;
  --md-sys-color-surface-tint-light: #006493;
  --md-sys-color-outline-variant-light: #C1C7CE;
  --md-sys-color-scrim-light: #000000;
  --md-sys-color-surface-container-highest-light: #E0E2E7;
  --md-sys-color-surface-container-high-light: #E7E8EB;
  --md-sys-color-surface-container-light: #ECEEF1;
  --md-sys-color-surface-container-low-light: #F3F4F6;
  --md-sys-color-surface-container-lowest-light: #FFFFFF;
  --md-sys-color-surface-bright-light: #F9F9FC;
  --md-sys-color-surface-dim-light: #D9DADD;
  /* dark */
  --md-sys-color-primary-dark: #8FCEFF;
  --md-sys-color-on-primary-dark: #00344F;
  --md-sys-color-primary-container-dark: #004B70;
  --md-sys-color-on-primary-container-dark: #EBF5FF;
  --md-sys-color-primary-fixed-dark: #CAE6FF;
  --md-sys-color-on-primary-fixed-dark: #001E30;
  --md-sys-color-primary-fixed-dim-dark: #8DCDFF;
  --md-sys-color-on-primary-fixed-variant-dark: #004B70;
  --md-sys-color-secondary-dark: #B7C9D9;
  --md-sys-color-on-secondary-dark: #22323F;
  --md-sys-color-secondary-container-dark: #384956;
  --md-sys-color-on-secondary-container-dark: #D3E5F6;
  --md-sys-color-secondary-fixed-dark: #D3E5F6;
  --md-sys-color-on-secondary-fixed-dark: #0C1D29;
  --md-sys-color-secondary-fixed-dim-dark: #B7C9D9;
  --md-sys-color-on-secondary-fixed-variant-dark: #384956;
  --md-sys-color-tertiary-dark: #23E0A9;
  --md-sys-color-on-tertiary-dark: #003827;
  --md-sys-color-tertiary-container-dark: #00513A;
  --md-sys-color-on-tertiary-container-dark: #52FDC3;
  --md-sys-color-tertiary-fixed-dark: #52FDC3;
  --md-sys-color-on-tertiary-fixed-dark: #002115;
  --md-sys-color-tertiary-fixed-dim-dark: #23E0A9;
  --md-sys-color-on-tertiary-fixed-variant-dark: #00513A;
  --md-sys-color-error-dark: hsl(6, 100%, 84%);
  --md-sys-color-on-error-dark: hsl(6, 100%, 21%);
  --md-sys-color-error-container-dark: hsl(6, 100%, 29%);
  --md-sys-color-on-error-container-dark: hsl(6, 100%, 92%);
  --md-sys-color-outline-dark: #8B9198;
  --md-sys-color-background-dark: #252A31;
  --md-sys-color-on-background-dark: #F2F2F3;
  --md-sys-color-surface-dark: #252B32;
  --md-sys-color-on-surface-dark: #F4F5F5;
  --md-sys-color-surface-variant-dark: #41474D;
  --md-sys-color-on-surface-variant-dark: #C1C7CE;
  --md-sys-color-inverse-surface-dark: #E2E2E5;
  --md-sys-color-inverse-on-surface-dark: #191B1E;
  --md-sys-color-inverse-primary-dark: #006493;
  --md-sys-color-shadow-dark: #000000;
  --md-sys-color-surface-tint-dark: #8DCDFF;
  --md-sys-color-outline-variant-dark: #41474D;
  --md-sys-color-scrim-dark: #000000;
  --md-sys-color-surface-container-highest-dark: #424A57;
  --md-sys-color-surface-container-high-dark: #353B46;
  --md-sys-color-surface-container-dark: #272D35;
  --md-sys-color-surface-container-low-dark: #1C2026;
  --md-sys-color-surface-container-lowest-dark: #16191D;
  --md-sys-color-surface-bright-dark: #34383F;
  --md-sys-color-surface-dim-dark: #060709;
  /* Custom Colors */
  --md-custom-color-warning: hsl(25, 97%, 53%);
  --md-sys-color-warning-dark: hsl(25, 100%, 84%);
  --md-sys-color-on-warning-dark: hsl(25, 100%, 21%);
  --md-sys-color-warning-container-dark: hsl(25, 100%, 29%);
  --md-sys-color-on-warning-container-dark: hsl(25, 100%, 92%);
  /* display - large */
  --md-sys-typescale-display-large-font-family-name: Nunito Sans;
  --md-sys-typescale-display-large-font-family-style: Regular;
  --md-sys-typescale-display-large-font-weight: 400;
  --md-sys-typescale-display-large-font-size: 57px;
  --md-sys-typescale-display-large-line-height: 64px;
  --md-sys-typescale-display-large-letter-spacing: -0.25px;
  /* display - medium */
  --md-sys-typescale-display-medium-font-family-name: Nunito Sans;
  --md-sys-typescale-display-medium-font-family-style: Regular;
  --md-sys-typescale-display-medium-font-weight: 400;
  --md-sys-typescale-display-medium-font-size: 45px;
  --md-sys-typescale-display-medium-line-height: 52px;
  --md-sys-typescale-display-medium-letter-spacing: 0px;
  /* display - small */
  --md-sys-typescale-display-small-font-family-name: Nunito Sans;
  --md-sys-typescale-display-small-font-family-style: Regular;
  --md-sys-typescale-display-small-font-weight: 400;
  --md-sys-typescale-display-small-font-size: 36px;
  --md-sys-typescale-display-small-line-height: 44px;
  --md-sys-typescale-display-small-letter-spacing: 0px;
  /* headline - large */
  --md-sys-typescale-headline-large-font-family-name: Nunito Sans;
  --md-sys-typescale-headline-large-font-family-style: Regular;
  --md-sys-typescale-headline-large-font-weight: 400;
  --md-sys-typescale-headline-large-font-size: 32px;
  --md-sys-typescale-headline-large-line-height: 40px;
  --md-sys-typescale-headline-large-letter-spacing: 0px;
  /* headline - medium */
  --md-sys-typescale-headline-medium-font-family-name: Nunito Sans;
  --md-sys-typescale-headline-medium-font-family-style: Regular;
  --md-sys-typescale-headline-medium-font-weight: 400;
  --md-sys-typescale-headline-medium-font-size: 28px;
  --md-sys-typescale-headline-medium-line-height: 36px;
  --md-sys-typescale-headline-medium-letter-spacing: 0px;
  /* headline - small */
  --md-sys-typescale-headline-small-font-family-name: Nunito Sans;
  --md-sys-typescale-headline-small-font-family-style: Regular;
  --md-sys-typescale-headline-small-font-weight: 400;
  --md-sys-typescale-headline-small-font-size: 24px;
  --md-sys-typescale-headline-small-line-height: 32px;
  --md-sys-typescale-headline-small-letter-spacing: 0px;
  /* body - large */
  --md-sys-typescale-body-large-font-family-name: Nunito Sans;
  --md-sys-typescale-body-large-font-family-style: Regular;
  --md-sys-typescale-body-large-font-weight: 400;
  --md-sys-typescale-body-large-font-size: 16px;
  --md-sys-typescale-body-large-line-height: 24px;
  --md-sys-typescale-body-large-letter-spacing: 0.50px;
  /* body - medium */
  --md-sys-typescale-body-medium-font-family-name: Nunito Sans;
  --md-sys-typescale-body-medium-font-family-style: Regular;
  --md-sys-typescale-body-medium-font-weight: 400;
  --md-sys-typescale-body-medium-font-size: 14px;
  --md-sys-typescale-body-medium-line-height: 20px;
  --md-sys-typescale-body-medium-letter-spacing: 0.25px;
  /* body - small */
  --md-sys-typescale-body-small-font-family-name: Nunito Sans;
  --md-sys-typescale-body-small-font-family-style: Regular;
  --md-sys-typescale-body-small-font-weight: 400;
  --md-sys-typescale-body-small-font-size: 12px;
  --md-sys-typescale-body-small-line-height: 16px;
  --md-sys-typescale-body-small-letter-spacing: 0.40px;
  /* label - large */
  --md-sys-typescale-label-large-font-family-name: Nunito Sans;
  --md-sys-typescale-label-large-font-family-style: Bold;
  --md-sys-typescale-label-large-font-weight: 500;
  --md-sys-typescale-label-large-font-size: 14px;
  --md-sys-typescale-label-large-line-height: 20px;
  --md-sys-typescale-label-large-letter-spacing: 0.10px;
  /* label - medium */
  --md-sys-typescale-label-medium-font-family-name: Nunito Sans;
  --md-sys-typescale-label-medium-font-family-style: Bold;
  --md-sys-typescale-label-medium-font-weight: 500;
  --md-sys-typescale-label-medium-font-size: 12px;
  --md-sys-typescale-label-medium-line-height: 16px;
  --md-sys-typescale-label-medium-letter-spacing: 0.50px;
  /* label - small */
  --md-sys-typescale-label-small-font-family-name: Nunito Sans;
  --md-sys-typescale-label-small-font-family-style: Bold;
  --md-sys-typescale-label-small-font-weight: 500;
  --md-sys-typescale-label-small-font-size: 11px;
  --md-sys-typescale-label-small-line-height: 16px;
  --md-sys-typescale-label-small-letter-spacing: 0.50px;
  /* title - large */
  --md-sys-typescale-title-large-font-family-name: Nunito Sans;
  --md-sys-typescale-title-large-font-family-style: Regular;
  --md-sys-typescale-title-large-font-weight: 400;
  --md-sys-typescale-title-large-font-size: 22px;
  --md-sys-typescale-title-large-line-height: 28px;
  --md-sys-typescale-title-large-letter-spacing: 0px;
  /* title - medium */
  --md-sys-typescale-title-medium-font-family-name: Nunito Sans;
  --md-sys-typescale-title-medium-font-family-style: Bold;
  --md-sys-typescale-title-medium-font-weight: 600;
  --md-sys-typescale-title-medium-font-size: 16px;
  --md-sys-typescale-title-medium-line-height: 24px;
  --md-sys-typescale-title-medium-letter-spacing: 0.15px;
  /* title - small */
  --md-sys-typescale-title-small-font-family-name: Nunito Sans;
  --md-sys-typescale-title-small-font-family-style: Bold;
  --md-sys-typescale-title-small-font-weight: 600;
  --md-sys-typescale-title-small-font-size: 14px;
  --md-sys-typescale-title-small-line-height: 20px;
  --md-sys-typescale-title-small-letter-spacing: 0.10px;
}