// This stylesheet handles different layouts of settings forms
// as well as changes highlighting

$field-gap: 8px

.form-field
  flex-grow: 1
  width: 100%

.form-inline-field-help, .form-object-field-help
  display: none

.settings-help-visible
  .form-inline-field-help, .form-object-field-help
    display: block !important
    font-size: 1rem
    color: var(--md-sys-color-on-surface-variant)
    
.rjsf

  // TODO: do we have any instance in the app where we don't want
  // the following behavior? Shouldn't we move this to ayon-react-components
  textarea
    font-family: monospace
    font-size: .8rem
    white-space: pre
    overflow-wrap: normal
    overflow-x: auto

  // If the 'enabled' switch is in a panel header hide its label
  .form-object-header-enabled-toggler
    .form-inline-field-label
       display: none

  // Highlight descendants of changed groups
  .group-changed
    .panel-header
      border-left: 4px solid var(--color-changed) !important
    .form-inline-field-label
      color: var(--color-changed) !important
  
  .form-object-field
    display: flex
    flex-direction: column
    gap: $field-gap

    // color for overrides
    .obj-override-studio > .panel-header
        border-left: 4px solid var(--color-hl-studio)

    .obj-override-project > .panel-header
        border-left: 4px solid var(--color-hl-project)

    .obj-override-site > .panel-header
        border-left: 4px solid var(--color-hl-site)

    .obj-override-edit > .panel-header
        border-left: 4px solid var(--color-changed)

    &.layout-compact
      flex-direction: row
      align-items: flex-start
      gap: 8px

      .form-object-field-item

        // .form-inline-field-widget
        //   max-width: 300px

        .dropdown
          min-width: 180px
          max-width: 180px

        &.widget-color .form-inline-field-widget
          max-width: 30px

        &.widget-icon .form-inline-field-widget
          max-width: 150px
          .dropdown
            min-width: 150px !important
            max-width: 150px !important

        &.widget-short .form-inline-field-widget
          max-width: 70px
          >*
            min-width: 70px !important
            max-width: 70px !important



    &.layout-expanded
      flex-direction: row
      border-bottom: 1px dotted #444
      flex-grow: 1
      padding-bottom: 6px

      .name-field
        .form-inline-field-label
          display: none

      .data-fields
        display: flex
        flex-grow: 1
        flex-direction: column
        gap: 8px


  .form-object-field-item
    display: contents
    div[data-hidden="true"]
      position: absolute
      visibility: hidden
      margin: 0
      height: 0
      div
        position: absolute
        height: 0
        padding-top: 0
        padding-bottom: 0
    &:has(div[data-hidden="false"])
      position: relative
      visibility: visible
    div[data-hidden="false"]
      width: 100%

  .form-inline-field
    display: flex
    flex-grow: 1
    flex-direction: row
    align-items: center
    justify-content: left
    gap: 8px
    border-left: 1px solid transparent
    padding: 0 3px

    .form-inline-field-label
      flex-basis: 250px
      min-width: 250px
      padding-left: 4px
      cursor: pointer
      user-select: none
      align-self: flex-start

      &.studio
        color: var(--color-hl-studio)
      &.project
        color: var(--color-hl-project)
      &.site
        color: var(--color-hl-site)
      &.edit
        color: var(--color-changed)

      span
        display: flex
        align-items: center
        justify-content: flex-end
        width: 100%
        height: var(--base-input-size)
        background-color: transparent
        white-space: nowrap
        font-weight: 600


    .form-inline-field-widget
      width: 100%
      flex-grow: 1
      display: flex
      flex-direction: column
      &.left-border
        border-left: 1px dashed #434a56 !important
        padding-left: 6px


    .form-inline-field-help
      min-width: 20%
      max-width: 20%
      padding: 0

      div
        border-bottom: 1px dashed #434a56 !important
        padding: 0       
        margin: 0

      p 
        margin-top: 7px 
        margin-bottom: 8px
        

    &.error
      .form-inline-field-label
        color: var(--color-hl-error, red)
    
