.rjsf
  .errors
    display: none

  .settings-compact-row
    display: flex 
    flex-direction: row
    flex-grow: 1
    gap: 0.5em

  .settings-field
    display: flex
    flex-direction: column
    flex-grow: 1
    justify-content: center
    margin-bottom: 0.3em

  .settings-field-label
    white-space: nowrap
    width: 130px
    justify-content: center !important // left looks shitty
    user-select: none

  .settings-add-button
    width: 100%
    display: flex
    justify-content: center
    align-items: center
    margin-top: 1em

